node_modules
.next
out
.env
.env.*
*.log
.git
.gitignore
Dockerfile
.dockerignore
docker-compose.yml
README.md
.vscode
coverage
*.md
*.test.ts
*.spec.ts
*.test.tsx
*.spec.tsx
__tests__
test
.eslintrc*
.prettierrc*
storybook-static
.storybook
